body {
	margin: 0;

	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

::selection {
	background-color: transparent;
}

header, footer {
	width: 100%;
	height: 40px;
	background-color: #7EC9BF;
}

.container {
	flex: 1;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.left-panel {
	width: 150px;
	background-color: #D5D5D5;
}

.container--canvas {
	flex: 1;
}

#canvas {
	width: 100%;
	height: 100%;

	z-index: 1;
}

#canvas-buffer {
	position:absolute; 
	top:0;
	left:0;
	visibility: hidden;

	max-height: 90vh;
	max-width: 90vh;

	z-index: -1;
}

.right-panel {
	width: 250px;
	background-color: #D5D5D5;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#add, #remove {
	width: 100px;
	margin: 5px;
	border: 3px #7EC9BF solid;
	border-radius: 4px;
	background: rgba(128, 92, 55, 0.5);
	font-size: 14px;
	padding: 3px 15px;
	color: #f5f5f5;
}

.camera-info {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
	grid-template-areas:
			"header header header header"
			"position posx posy posz"
			"angles pitch yaw roll";
}

.camera-info > div {
	padding: 3px;
	text-align: center;
}

.camera-div-border {
	background: white;
	border-radius: 2%;
	width: 45px;
}

#camera-header {
	grid-area: header;
}

#camera-position {
	grid-area: position;
}

#camera-posx {
	grid-area: posx;
}

#camera-posy {
	grid-area: posy;
}

#camera-posz {
	grid-area: posz;
}

#camera-angles {
	grid-area: angles;
}

#camera-pitch {
	grid-area: pitch;
}

#camera-yaw {
	grid-area: yaw;
}

#camera-roll {
	grid-area: roll;
}